# Merges QCEW, FRED, and US Census into Single Dataset
This is the final set of the data cleaning

In [1]:
%%capture
# Capture suppresses output to screen
import stata_setup
stata_setup.config("/Applications/Stata 17", "be")

In [2]:
%%stata
global data "Data"
global output "Output"
global processed "$data/Processed"

global finalQCEWData "$processed/QCEW/MergedQCEW.dta"
global finalFredData "$processed/FRED/MergedFred.dta"
global finalCensusData "$processed/US_Census/MergedCensus.dta"

global finalSynthData "$processed/finalSynth.dta"

. global data "Data"

. global output "Output"

. global processed "$data/Processed"

.
. global finalQCEWData "$processed/QCEW/MergedQCEW.dta"

. global finalFredData "$processed/FRED/MergedFred.dta"

. global finalCensusData "$processed/US_Census/MergedCensus.dta"

.
. global finalSynthData "$processed/finalSynth.dta"

.

In [3]:
%%capture
%%stata
log using "$output/SynthMerge.log", replace

## Read in QCEW data

In [4]:
%%stata
use "$finalQCEWData", clear
describe

. use "$finalQCEWData", clear

. describe

Contains data from Data/Processed/QCEW/MergedQCEW.dta
 Observations:           680
    Variables:             6                  5 Feb 2022 16:28
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
year            int     %10.0g                Year
employment      long    %10.0g                Annual Reported Employment (NAICS
                                                3364)
state           str2    %9s
annualPay       long    %10.0g                Average Annual Pay (USD) (NAICS
                                                3364)
lnEmployment    float   %9.0g
lnAnnualPay     float   %9.0g
-------------------------------------------------------------------------------
Sorted by:

.

## Merge QCEW and FRED data

In [5]:
%%stata
merge 1:1 state year using $finalFredData

(variable year was int, now float to accommodate using data's values)

    Result                      Number of obs
    -----------------------------------------
    Not matched                             0
    Matched                               680  (_merge==3)
    -----------------------------------------

## Merge QCEW/FRED with US Census data

In [6]:
%%stata
drop _merge
merge 1:1 state year using $finalCensusData

. drop _merge

. merge 1:1 state year using $finalCensusData

    Result                      Number of obs
    -----------------------------------------
    Not matched                           268
        from master                        34  (_merge==1)
        from using                        234  (_merge==2)

    Matched                               646  (_merge==3)
    -----------------------------------------

.

Year 2020 will be dropped from the data set due to the  
2020-2021 COVID-19 pandemic.

In [7]:
%%stata
list state year annualPay employment if _merge==1

     +------------------------------------+
     | state   year   annual~y   employ~t |
     |------------------------------------|
 20. |    AL   2020      93622      12820 |
 40. |    AR   2020      62146       4192 |
 60. |    AZ   2020     110968      30502 |
 80. |    CA   2020     113819      75955 |
100. |    CO   2020     143902       8593 |
     |------------------------------------|
120. |    CT   2020     117382      31263 |
140. |    FL   2020     100174      26940 |
160. |    GA   2020      95015      19484 |
180. |    IL   2020      66578       3310 |
200. |    IN   2020      94367       6076 |
     |------------------------------------|
220. |    KS   2020      78936      25793 |
240. |    KY   2020      75035       3169 |
260. |    MA   2020     150953      11028 |
280. |    MD   2020      98354       3407 |
300. |    MI   2020      77141       5171 |
     |------------------------------------|
320. |    MO   2020     105995      17814 |
340. |    MS   2020      79860       1208 |
360. |    NC   2020      88664       6299 |
380. |    NH   2020      76128       1156 |
400. |    NJ   2020      84505       1497 |
     |------------------------------------|
420. |    NM   2020      98123        687 |
440. |    NY   2020      83221       4848 |
460. |    OH   2020     108024      17935 |
480. |    OK   2020      91067      12994 |
500. |    OR   2020      91869       3148 |
     |------------------------------------|
520. |    PA   2020     107120      10160 |
540. |    SC   2020      95118       6751 |
560. |    TN   2020      66335       2130 |
580. |    TX   2020     112614      48978 |
600. |    UT   2020      84014       8102 |
     |------------------------------------|
620. |    VA   2020      91476       1991 |
640. |    WA   2020     116955      80003 |
660. |    WI   2020      72167       1290 |
680. |    WV   2020      79924       2396 |
     +------------------------------------+

In [8]:
%%stata
drop if year==2020

/* QCEW dataset begins at 2001 */
drop if year==2000

. drop if year==2020
(34 observations deleted)

.
. /* QCEW dataset begins at 2001 */
. drop if year==2000
(36 observations deleted)

.

In [9]:
%%stata
list state year annualPay employment pop if _merge==2

     +----------------------------------------------+
     | state   year   annual~y   employ~t       pop |
     |----------------------------------------------|
647. |    AK   2010          .          .    713910 |
648. |    AK   2011          .          .    722128 |
649. |    AK   2012          .          .    730443 |
650. |    AK   2013          .          .    737068 |
651. |    AK   2014          .          .    736283 |
     |----------------------------------------------|
652. |    AK   2015          .          .    737498 |
653. |    AK   2016          .          .    741456 |
654. |    AK   2017          .          .    739700 |
655. |    AK   2018          .          .    735139 |
656. |    AK   2019          .          .    731545 |
     |----------------------------------------------|
657. |    DC   2010          .          .    605226 |
658. |    DC   2011          .          .    619800 |
659. |    DC   2012          .          .    634924 |
660. |    DC   2013          .          .    650581 |
661. |    DC   2014          .          .    662328 |
     |----------------------------------------------|
662. |    DC   2015          .          .    675400 |
663. |    DC   2016          .          .    685815 |
664. |    DC   2017          .          .    694906 |
665. |    DC   2018          .          .    701547 |
666. |    DC   2019          .          .    705749 |
     |----------------------------------------------|
667. |    DE   2001          .          .    795699 |
668. |    DE   2002          .          .    806169 |
669. |    DE   2003          .          .    818003 |
670. |    DE   2004          .          .    830803 |
671. |    DE   2005          .          .    845150 |
     |----------------------------------------------|
672. |    DE   2006          .          .    859268 |
673. |    DE   2007          .          .    871749 |
674. |    DE   2008          .          .    883874 |
675. |    DE   2009          .          .    891730 |
676. |    DE   2010          .          .    899593 |
     |----------------------------------------------|
677. |    DE   2011          .          .    907381 |
678. |    DE   2012          .          .    915179 |
679. |    DE   2013          .          .    923576 |
680. |    DE   2014          .          .    932487 |
681. |    DE   2015          .          .    941252 |
     |----------------------------------------------|
682. |    DE   2016          .          .    948921 |
683. |    DE   2017          .          .    956823 |
684. |    DE   2018          .          .    965479 |
685. |    DE   2019          .          .    973764 |
686. |    HI   2010          .          .   1363963 |
     |----------------------------------------------|
687. |    HI   2011          .          .   1379329 |
688. |    HI   2012          .          .   1394804 |
689. |    HI   2013          .          .   1408243 |
690. |    HI   2014          .          .   1414538 |
691. |    HI   2015          .          .   1422052 |
     |----------------------------------------------|
692. |    HI   2016          .          .   1427559 |
693. |    HI   2017          .          .   1424393 |
694. |    HI   2018          .          .   1420593 |
695. |    HI   2019          .          .   1415872 |
696. |    IA   2010          .          .   3050745 |
     |----------------------------------------------|
697. |    IA   2011          .          .   3066336 |
698. |    IA   2012          .          .   3076190 |
699. |    IA   2013          .          .   3092997 |
700. |    IA   2014          .          .   3109350 |
701. |    IA   2015          .          .   3120960 |
     |----------------------------------------------|
702. |    IA   2016          .          .   3131371 |
703. |    IA   2017          .          .   3141550 |
704. |    IA   2018          .          .   3148618 |
705. |    IA   2019          .          .   3155070 |
706. |    ID   2001          .          .   1319962 |
     |----------------------------------------------|
707. |    ID   2002          .          .   1340372 |
708. |    ID   2003          .          .   1363380 |
709. |    ID   2004          .          .   1391802 |
710. |    ID   2005          .          .   1428241 |
711. |    ID   2006          .          .   1468669 |
     |----------------------------------------------|
712. |    ID   2007          .          .   1505105 |
713. |    ID   2008          .          .   1534320 |
714. |    ID   2009          .          .   1554439 |
715. |    ID   2010          .          .   1570746 |
716. |    ID   2011          .          .   1583910 |
     |----------------------------------------------|
717. |    ID   2012          .          .   1595324 |
718. |    ID   2013          .          .   1611206 |
719. |    ID   2014          .          .   1631112 |
720. |    ID   2015          .          .   1651059 |
721. |    ID   2016          .          .   1682380 |
     |----------------------------------------------|
722. |    ID   2017          .          .   1717715 |
723. |    ID   2018          .          .   1750536 |
724. |    ID   2019          .          .   1787065 |
725. |    LA   2010          .          .   4544532 |
726. |    LA   2011          .          .   4575625 |
     |----------------------------------------------|
727. |    LA   2012          .          .   4600972 |
728. |    LA   2013          .          .   4624527 |
729. |    LA   2014          .          .   4644013 |
730. |    LA   2015          .          .   4664628 |
731. |    LA   2016          .          .   4678135 |
     |----------------------------------------------|
732. |    LA   2017          .          .   4670560 |
733. |    LA   2018          .          .   4659690 |
734. |    LA   2019          .          .   4648794 |
735. |    ME   2010          .          .   1327629 |
736. |    ME   2011          .          .   1328284 |
     |----------------------------------------------|
737. |    ME   2012          .          .   1327729 |
738. |    ME   2013          .          .   1328009 |
739. |    ME   2014          .          .   1330513 |
740. |    ME   2015          .          .   1328262 |
741. |    ME   2016          .          .   1331317 |
     |----------------------------------------------|
742. |    ME   2017          .          .   1334612 |
743. |    ME   2018          .          .   1339057 |
744. |    ME   2019          .          .   1344212 |
745. |    MN   2010          .          .   5310828 |
746. |    MN   2011          .          .   5346143 |
     |----------------------------------------------|
747. |    MN   2012          .          .   5376643 |
748. |    MN   2013          .          .   5413479 |
749. |    MN   2014          .          .   5451079 |
750. |    MN   2015          .          .   5482032 |
751. |    MN   2016          .          .   5522744 |
     |----------------------------------------------|
752. |    MN   2017          .          .   5566230 |
753. |    MN   2018          .          .   5606249 |
754. |    MN   2019          .          .   5639632 |
755. |    MT   2010          .          .    990697 |
756. |    MT   2011          .          .    997316 |
     |----------------------------------------------|
757. |    MT   2012          .          .   1003783 |
758. |    MT   2013          .          .   1013569 |
759. |    MT   2014          .          .   1021869 |
760. |    MT   2015          .          .   1030475 |
761. |    MT   2016          .          .   1040859 |
     |----------------------------------------------|
762. |    MT   2017          .          .   1052482 |
763. |    MT   2018          .          .   1060665 |
764. |    MT   2019          .          .   1068778 |
765. |    ND   2010          .          .    674715 |
766. |    ND   2011          .          .    685225 |
     |----------------------------------------------|
767. |    ND   2012          .          .    701176 |
768. |    ND   2013          .          .    722036 |
769. |    ND   2014          .          .    737401 |
770. |    ND   2015          .          .    754066 |
771. |    ND   2016          .          .    754434 |
     |----------------------------------------------|
772. |    ND   2017          .          .    754942 |
773. |    ND   2018          .          .    758080 |
774. |    ND   2019          .          .    762062 |
775. |    NE   2010          .          .   1829542 |
776. |    NE   2011          .          .   1840672 |
     |----------------------------------------------|
777. |    NE   2012          .          .   1853303 |
778. |    NE   2013          .          .   1865279 |
779. |    NE   2014          .          .   1879321 |
780. |    NE   2015          .          .   1891277 |
781. |    NE   2016          .          .   1905616 |
     |----------------------------------------------|
782. |    NE   2017          .          .   1915947 |
783. |    NE   2018          .          .   1925614 |
784. |    NE   2019          .          .   1934408 |
785. |    NV   2010          .          .   2702405 |
786. |    NV   2011          .          .   2712730 |
     |----------------------------------------------|
787. |    NV   2012          .          .   2743996 |
788. |    NV   2013          .          .   2775970 |
789. |    NV   2014          .          .   2817628 |
790. |    NV   2015          .          .   2866939 |
791. |    NV   2016          .          .   2917563 |
     |----------------------------------------------|
792. |    NV   2017          .          .   2969905 |
793. |    NV   2018          .          .   3027341 |
794. |    NV   2019          .          .   3080156 |
795. |    PR   2010          .          .   3721525 |
796. |    PR   2011          .          .   3678732 |
     |----------------------------------------------|
797. |    PR   2012          .          .   3634488 |
798. |    PR   2013          .          .   3593077 |
799. |    PR   2014          .          .   3534874 |
800. |    PR   2015          .          .   3473232 |
801. |    PR   2016          .          .   3406672 |
     |----------------------------------------------|
802. |    PR   2017          .          .   3325286 |
803. |    PR   2018          .          .   3193354 |
804. |    PR   2019          .          .   3193694 |
805. |    RI   2010          .          .   1053959 |
806. |    RI   2011          .          .   1053649 |
     |----------------------------------------------|
807. |    RI   2012          .          .   1054621 |
808. |    RI   2013          .          .   1055081 |
809. |    RI   2014          .          .   1055936 |
810. |    RI   2015          .          .   1056065 |
811. |    RI   2016          .          .   1056770 |
     |----------------------------------------------|
812. |    RI   2017          .          .   1055673 |
813. |    RI   2018          .          .   1058287 |
814. |    RI   2019          .          .   1059361 |
815. |    SD   2010          .          .    816166 |
816. |    SD   2011          .          .    823579 |
     |----------------------------------------------|
817. |    SD   2012          .          .    833566 |
818. |    SD   2013          .          .    842316 |
819. |    SD   2014          .          .    849129 |
820. |    SD   2015          .          .    853988 |
821. |    SD   2016          .          .    862996 |
     |----------------------------------------------|
822. |    SD   2017          .          .    872868 |
823. |    SD   2018          .          .    878698 |
824. |    SD   2019          .          .    884659 |
825. |    VT   2010          .          .    625879 |
826. |    VT   2011          .          .    627049 |
     |----------------------------------------------|
827. |    VT   2012          .          .    626090 |
828. |    VT   2013          .          .    626210 |
829. |    VT   2014          .          .    625214 |
830. |    VT   2015          .          .    625216 |
831. |    VT   2016          .          .    623657 |
     |----------------------------------------------|
832. |    VT   2017          .          .    624344 |
833. |    VT   2018          .          .    624358 |
834. |    VT   2019          .          .    623989 |
835. |    WY   2010          .          .    564487 |
836. |    WY   2011          .          .    567299 |
     |----------------------------------------------|
837. |    WY   2012          .          .    576305 |
838. |    WY   2013          .          .    582122 |
839. |    WY   2014          .          .    582531 |
840. |    WY   2015          .          .    585613 |
841. |    WY   2016          .          .    584215 |
     |----------------------------------------------|
842. |    WY   2017          .          .    578931 |
843. |    WY   2018          .          .    577601 |
844. |    WY   2019          .          .    578759 |
     +----------------------------------------------+

Observations with _merge==2 do not have significant NAICS 3364 industries.  
US population data for 2010-2019 contained all states and
DC and Puerto Rico.  These will be dropped from the dataset

In [10]:
%%stata
drop if _merge==2
drop _merge

. drop if _merge==2
(198 observations deleted)

. drop _merge

.

## Merge in FIPS codes

In [11]:
%%stata
merge m:1 state using "$processed/StateCodes.dta", keepusing(fips)

    Result                      Number of obs
    -----------------------------------------
    Not matched                            18
        from master                         0  (_merge==1)
        from using                         18  (_merge==2)

    Matched                               646  (_merge==3)
    -----------------------------------------

In [12]:
%%stata
list state if _merge==2

     +-------+
     | state |
     |-------|
647. |    AK |
648. |    DC |
649. |    DE |
650. |    HI |
651. |    IA |
     |-------|
652. |    ID |
653. |    LA |
654. |    ME |
655. |    MN |
656. |    MT |
     |-------|
657. |    ND |
658. |    NE |
659. |    NV |
660. |    PR |
661. |    RI |
     |-------|
662. |    SD |
663. |    VT |
664. |    WY |
     +-------+

In [13]:
%%stata
/* These states have no significant NAIC 3364 industry */
drop if _merge==2
drop _merge

. /* These states have no significant NAIC 3364 industry */
. drop if _merge==2
(18 observations deleted)

. drop _merge

.

## Generate Dummies for DID Analysis

### Add indicator dummies for incentive year, leads and lags
Tax incentive was passed in 2014 in WA.  In 2014 WA was selected as the expansion site.

In [14]:
%%stata
sort state year
by state: generate postIncentive=(year>=2014)
label variable postIncentive "=1 if year >=2014"

. sort state year

. by state: generate postIncentive=(year>=2014)

. label variable postIncentive "=1 if year >=2014"

.

In [15]:
%%stata
// T0 to examine the pre and post trends
by state: generate t_0 = (postIncentive==1 & postIncentive[_n-1]==0) 

// Generate 4 years of lags and leads
foreach i of numlist -4/4 {
    if `i' < 0 {
        local var "lag"
    }
    if `i' > 0 {
        local var "lead"
    }
    
    // So the lag/lead numbers are always positive
    local j: display int(abs(`i'))
    
    /* 
        Note: A negative value of i will result
            in lag.
    */
    by state: generate t_`var'`j'=(t_0[_n+`i']==1)
}
// Group all lags older than 4 year together
by state: replace t_lag4=1 if (t_lag4[_n-1]==1)

. // T0 to examine the pre and post trends
. by state: generate t_0 = (postIncentive==1 & postIncentive[_n-1]==0)

.
. // Generate 4 years of lags and leads
. foreach i of numlist -4/4 {
  2.     if `i' < 0 {
  3.         local var "lag"
  4.     }
  5.     if `i' > 0 {
  6.         local var "lead"
  7.     }
  8.
.     // So the lag/lead numbers are always positive
.     local j: display int(abs(`i'))
  9.
.     /*
>         Note: A negative value of i will result
>             in lag.
>     */
.     by state: generate t_`var'`j'=(t_0[_n+`i']==1)
 10. }

. // Group all lags older than 4 year together
. by state: replace t_lag4=1 if (t_lag4[_n-1]==1)
(34 real changes made)

.

In [16]:
%%stata
generate wa=(state=="WA")
label variable wa "=1 if the state is WA"

generate treated = postIncentive*wa
label variable treated "=1 if after 2014 and in WA"

. generate wa=(state=="WA")

. label variable wa "=1 if the state is WA"

.
. generate treated = postIncentive*wa

. label variable treated "=1 if after 2014 and in WA"

.

## Declare as Panel Dataset

In [17]:
%%stata
sort fips year
xtset fips year

. sort fips year

. xtset fips year

Panel variable: fips (strongly balanced)
 Time variable: year, 2001 to 2019
         Delta: 1 unit

.

## Save Dataset for Analysis

In [18]:
%%stata
save "$finalSynthData", replace

file Data/Processed/finalSynth.dta saved

In [19]:
%%stata
clear
log close

. clear

. log close
      name:  <unnamed>
       log:  /Users/alwashere/Documents/School Work/University of Maryland/MS A
> pplied Economics/2022 1Q Winter/ECON 672 Program Evaluation/ResearchPaper/Out
> put/SynthMerge.log
  log type:  text
 closed on:   5 Feb 2022, 19:04:52
-------------------------------------------------------------------------------

.